## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Graaff-Reinet,-32.2522,24.5308,44.92,82,42,2.53,ZA,2021-10-04 01:05:50
1,1,Ushuaia,-54.8000,-68.3000,38.86,65,90,17.27,AR,2021-10-04 01:08:16
2,2,Kapaa,22.0752,-159.3190,78.19,85,90,1.99,US,2021-10-04 01:12:01
3,3,Saint-Philippe,-21.3585,55.7679,69.39,82,49,10.83,RE,2021-10-04 01:12:01
4,4,Busselton,-33.6500,115.3333,55.04,73,100,15.88,AU,2021-10-04 01:12:02

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?40
What is the maximum temperature you would like for your trip?70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                      (city_data_df['Max Temp'] >= min_temp) ]

In [5]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

Unnamed: 0    291
City          291
Lat           291
Lng           291
Max Temp      291
Humidity      291
Cloudiness    291
Wind Speed    291
Country       286
Date          291
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Graaff-Reinet,-32.2522,24.5308,44.92,82,42,2.53,ZA,2021-10-04 01:05:50
3,3,Saint-Philippe,-21.3585,55.7679,69.39,82,49,10.83,RE,2021-10-04 01:12:01
4,4,Busselton,-33.6500,115.3333,55.04,73,100,15.88,AU,2021-10-04 01:12:02
5,5,Nemuro,43.3236,145.5750,62.28,85,100,25.17,JP,2021-10-04 01:12:02
6,6,Kodiak,57.7900,-152.4072,43.36,50,0,5.53,US,2021-10-04 01:09:13
...,...,...,...,...,...,...,...,...,...,...
699,699,Manakara,-22.1333,48.0167,68.47,91,8,9.57,MG,2021-10-04 01:16:44
701,701,Peruibe,-24.3200,-46.9983,68.58,97,100,4.23,BR,2021-10-04 01:12:22
703,703,Baherden,38.4362,57.4316,54.16,26,0,9.86,TM,2021-10-04 01:16:45
704,704,Smiths Falls,44.9001,-76.0161,55.54,97,100,7.09,CA,2021-10-04 01:14:02
707,707,Graaff-Reinet,-32.2522,24.5308,44.92,82,42,2.53,ZA,2021-10-04 01:16:46

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0    Graaff-Reinet      ZA     44.92 -32.2522   24.5308
3   Saint-Philippe      RE     69.39 -21.3585   55.7679
4        Busselton      AU     55.04 -33.6500  115.3333
5           Nemuro      JP     62.28  43.3236  145.5750
6           Kodiak      US     43.36  57.7900 -152.4072
10           Bluff      NZ     51.80 -46.6000  168.3333
15     Broken Hill      AU     62.26 -31.9500  141.4333
18         Policka      CZ     56.03  49.7146   16.2654
21          Albany      US     61.66  42.6001  -73.9662
24    Santa Branca      BR     65.46 -23.3967  -45.8839

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
   "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
    # 6c. Get latitude and longitude from DataFrame
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # 6e. Make request and retrieve the JSON data from the search. 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping...')

Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()

In [12]:
# 8a. Create the output File (CSV)

output_data_file = 'WeatherPy_Vacation.csv'
hotel_df.to_csv(output_data_file, index_label='City_ID')

# 8b. Export the City_Data into a csv

vacation_df = pd.read_csv('WeatherPy_Vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Graaff-Reinet,ZA,44.92,-32.2522,24.5308,Rietjiesbos B&B
1,3,Saint-Philippe,RE,69.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,4,Busselton,AU,55.04,-33.6500,115.3333,Observatory Guest House
3,5,Nemuro,JP,62.28,43.3236,145.5750,Hotel Nemuro Kaiyoutei
4,6,Kodiak,US,43.36,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd> at {Max Temp}</dd>
'''

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))